{% extends "deposits/base.html" %}
{% block content %}
<div class="row mb-4">
  <div class="col-md-6 mx-auto">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Register</h2>
      </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
